.main-body {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232323;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  height: 60px;
  background: yellow;
  width: 100%;
  &__logo {
    width: 50px;
    margin-right: 20px;
  }
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(80px, 35px);
}

.square-button_1 {
  height: 150px !important;
  width: 150px !important;
  background: yellow;
  // background-image: url("images/Pic1.jpg");
  transform: rotate(-45deg) !important;
  outline: none;
}

  .square-button_2 {
    height: 150px !important;
    width: 150px !important;
    background: yellow;
    transform: rotate(-45deg) translate(60px, -105px) !important;
    outline: none;
  }

    .square-button_3 {
      height: 150px !important;
      width: 150px !important;
      background: yellow;
      transform: rotate(-45deg) translate(-212px, -46px) !important;
      outline: none;
    }


.square-button_4 {
  height: 150px !important;
  width: 150px !important;
  background: yellow;
  transform: rotate(-45deg) translate(-152px, -151px) !important;
  outline: none;
}

.square-button {
  min-height: 100px;
  min-width: 100px;
  color: yellow !important;
  transform: rotate(90deg);
}
