.webui-body {
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.webui-ctn {
    display: flex !important;
    justify-content: center !important;
    // align-items: center !important;
    // align-self: center;
    margin-bottom: 30px;
}

.webui-section {
    width: 95%;
    border-bottom: 1px solid #FFCC26;
    margin: 20px 0;

    &_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 35%;
        min-height: 220px;
        margin: 0 0 0 25px !important;

        h1 {
            margin: 0 !important;
            color: white;
            font-size: 1.3em;
        }

        p {
            margin: 0 !important;
            color: white;
            font-size: 0.9em;
        }

        &_date {
            color: white;
        }
    }

    &_img {
        // flex-grow: 2;
        // margin-top: 20px;
        border: 3px solid white;
        max-height: 300px !important;
    }

    button {
        background: #FFCC26;
        height: 35px;
        width: 75px;
        color: black;
        border: 1px solid #FFCC26;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        outline: none;

        &:hover {
            background: yellow;
        }
    }
}
